body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Raleway, sans-serif;
    
}
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(fontglav.jpg);
    background-position:left;
    background-size: cover;
    background-attachment: fixed;
    filter:blur(5px);
    z-index: -1;
}
.card img{

    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: .2em;
}
.carousel{
    margin:100px auto;
    width:80%;
    border:2px solid brown;
    display:flex;
    overflow-x: auto;
    border-radius: .8em;
    }
.carousel::-webkit-scrollbar {
    display: none;
}
.group{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1em;
    animation:spin 5s infinite linear;
    padding-right: 1em;
    


}
.card{
    flex: 0 0 5em ;
    height: 5em;
    padding:1em;
    background: white;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    color : brown ;
    border:2px solid;
}
.group p{
    width: 100%;
    background-color: brown;
    border-radius: 10px;
}
@keyframes spin{
    from{translate :0;}
    to{translate :-100%;}
}
h1{
    color: orange;
    background-color: brown;
    width: 500px;
    height: 59px;
    border-radius: 10px;
    box-shadow: 0 0 10px brown;

}
.wrapper {
   position: center;
    width: 460px;
    margin:0 auto;
    background-color: brown;
    box-shadow: 0 0 10px brown;
    border-radius : 15px ;
    border : 2px ;
   padding : 30px 20px ;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse; /* Шекараларды біріктіреді */
    background: rgba(255, 165, 0, 0.8); /* Жұмсақ ашық қызғылт сары фон */
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 15px;
    overflow: hidden; /* бұрыштарды дөңгелектеу үшін */
    font-family: "Poppins", sans-serif;
}

th, td {
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
}

th {
    background: #ff7b00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.6);
}

tr:nth-child(odd) {
    background: rgba(255, 200, 100, 0.5);
}

tr:hover {
    background-color: #ff006a;
    color: white;
    transform: scale(1.02);
    transition: 0.3s;
    cursor: pointer;
}
