.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5dc;
    padding: 15px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;

}

.top-bar h2 {
    color: black;
    margin: 0;
    font-size: 26px;
    text-shadow: 0 0 15px lightblue;
}

.top-bar-buttons {
    display: flex;
    gap: 10px;
}

.top-bar-button {
    background-color: orange;
    color: #0d0d0d;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.top-bar-button:hover {
    background-color: #ff006a;
    color: orange;
    transform: scale(1.05);
}
.wrapper {
   position: center;
    width: 70%;
    margin:0 auto;
    background-color: #f5f5dc;
    box-shadow: 0 0 10px rgba(255,184,65);
    border-radius : 15px ;
    padding : 30px 20px ;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content {
  display: flex;
  align-items: center; 
  gap: 20px; 
  margin-top: 20px;
}

.content img {
  width: 300px;
  border-radius: 5px;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}
    