html,body{
    box-sizing: border-box;
}
body{
    background-color: #f5f5dc;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
}
nav ul{
    display: flex;
    padding-left:0 ;
    list-style-type: none;
    justify-content: center;
    gap: 12px;
}
nav ul li{
    display:block;
    padding:10px 30px;
    cursor: pointer;
}
nav ul li:hover{
    text-decoration: underline;

}
.countainer{
    max-width: 1200px;
    margin:30px auto;

}
.box{
    padding: 10px;
    margin: 15px;
    border-width: 3px;
    float: left;
    text-align: center;
    width: 20%;
}
.box img{
    max-width: 100%;
}
.block-cover::after{
    content:"";
    clear: both;
    display: block;
}
.hide{
    display: none;
}
.box.mvp{
    border: solid darkblue;
    border-radius: 12px;
}
.box.entop{
    border: solid darkred;
    border-radius: 12px;
}
.text-mvp {
    color: darkblue;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    display: inline;
    padding: 5px 15px;
   
}
.text-entop{
    color: darkred;
     background-color: orange;
    border-radius: 10px;
    text-align: center;
    display: inline;
    display: inline;
    padding: 5px 15px;
   
}
.text-bary{
    color: wheat;
     background-color: orange;
    border-radius: 10px;
    text-align: center;
    display: inline;
    display: inline;
    padding: 5px 15px;
   
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(244, 124, 19);
    padding: 15px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

.top-bar h2 {
    color: black;
    margin: 0;
    font-size: 26px;
    text-shadow: 0 0 15px lightblue;
}

.top-bar-buttons {
    display: flex;
    gap: 10px;
}

.top-bar-button {
    background-color: orange;
    color: #0d0d0d;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.top-bar-button:hover {
    background-color: #ff006a;
    color: #fff;
    transform: scale(1.05);
}
.wrapper {
   position: center;
    width: 70%;
    margin:0 auto;
    background-color:rgb(244, 124, 19);
    box-shadow: 0 0 10px rgba(255,184,65);
    border-radius : 15px ;
    padding : 30px 20px ;
}
.block-cover {
    display: flex;       
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 15px;           
}
.box {
    width: 200px;        
    padding: 10px;
    text-align: center;
    border-width: 3px;
    border-radius: 12px;
}

