body {
      font-family: "Popins", sans-serif;
      background-color: #f5f5dc;
      margin: 0;
      padding: 0;
      display : flex;
      justify-content: center;
      align-items: center;
      min-height: 100Vh;
      background: url('jakossite.jpg') no-repeat;
      background-position: left;
      background-size: cover;
      position: center;
      color: whitesmoke;
}
a {
   text-decoration: none;
   color : red;
}

.wrapper {
   width: 400px;
   background :transparent;
   backdrop-filter: blur(10px);
   box-shadow: 0 0 10px rgba(255,184,65);
    border-radius : 15px ;
    border : 2px solid black ;
   padding : 30px 20px ;
  
}
.wrapper h1 {
   text-align: center;
   background-color: #FFA505;
   border-radius: 10px ;
}

.wrapper .input-box {
   width: 100% ;
   height: 50px ;
   margin : 30px 0 ;
     position: relative;
 
}
.input-box input {
   width: 100% ;
   height: 100% ;
   padding-left: 40px ;
   font-size: 16px ;
   border : none ;
   outline : none ;
   border-radius : 15px ;
   border : 2px solid black ;

  
}
.input-box i {
   position: absolute ;
   right :30px;
   top: 15px;

   font-size: 20px ;

}
.wrapper .remember {
   display:flex;
   justify-content: space-between;
   font-size: 14.5px;  
   margin: -15px 0 15px ; 
}
.remember label input {
   accent-color: red;
   margin-right: 3px;
}
.remember a:hover{
   color:blue
}
.wrapper .btn {
   width: 50% ;
   height: 50px ;
   border : none ;
   outline : none ;
   border-radius : 40px ;
   background-color: #FFA505 ;
   color : white ;
   font-size: 18px ;
   cursor: pointer ;
   margin-left: 100px;
}
 .wrapper .register-link{
   font-size: 14.5px;
   text-align: center;
   margin-top : 20px;
 }
   .register-link a:hover{
      color : blue;
}
h1{
   color: black;
}